# Python
__pycache__/
*.py[cod]
*$py.class
__pycache__
# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# System
.DS_Store

#others
todo.txt
kernel.txt
kernel1.txt
kernal2.txt