# Python
__pycache__/
*.py[cod]
*$py.class
__pycache__
# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# System
.DS_Store

#others
todo.txt
demo.mp4

kernel2.txt 
kernal1.txt
kernal.txt

demo1.mp4

